<div id="login">
  <div id="anyguess">
    <div class="top text">Any</div>
    <div class="bottom text">Guess</div>
    <div class="right text">?</div>
  </div>
</div>

<div id="players">
  Current players:<br/>
  <% @players.each do |player| %>
    <div class="user" data-id="<%= player.user.id %>" data-role="<%= player.user.role %>" data-me="<%= current_user.email == player.user.email %>">
      <%= image_tag(gravatar_url(player.user.email, 64), alt: player.user.email, title: player.user.email) %>
    </div>
  <% end %>
</div>
