
<% if current_user %>
  <div id="logout">
    <%= avatar(current_user.email) %>
    <%= current_user.email %> |
    <% if current_user.role == 'admin' %>
      <a href="/games">Admin</a> |
    <% end %>
    <a href="/sessions/logout">Logout</a>
  </div>
<% end %>
