<div id="login">
  <div id="anyguess">
    <div class="top text">Any</div>
    <div class="bottom text">Guess</div>
    <div class="right text">?</div>
  </div>
</div>

<div id="logout">
  <% if current_user %>
    <%= link_to 'Join a game!', '/play' %> |
    <% if current_user.role == 'admin' %>
      <a href="/games">Admin</a> |
    <% end %>
    <a href="/sessions/logout">Logout</a>
  <% end %>
</div>
