<div id="login">
  <div id="anyguess">
    <div class="top text">Any</div>
    <div class="bottom text">Guess</div>
    <div class="right text">?</div>
  </div>

  <div>
    <%= link_to 'Join a game!', '/play' %> | <%= link_to 'Admin', '/games' %>
  </div>
</div>
