// Place all the styles related to the play controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

// blue #314380
// yellow #FEBE10

@import "avatar";
@import "bootstrap_overrides";
@import "login";
@import "scaffolds";
@import "table";

$fond-blue: #314380;
$fond-yellow: #FEBE10;

body {
  margin-top: 50px;

  background: $fond-blue;
  color: $fond-yellow;

  a {
    color: $fond-yellow;
    text-decoration: none;
    &:hover {
      color: $fond-yellow;
      font-weight: bold;
      text-decoration: none;
    }
    &:visited {
      color: $fond-yellow;
    }
  }
}

#anyguess {

}

#login {
  background: $fond-blue;
  color: $fond-yellow;
}
