// Place all the styles related to the play controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

// blue #314380
// yellow #FEBE10

@import "avatar";
@import "bootstrap_overrides";
@import "login";
@import "scaffolds";
@import "table";

$fond-blue: #314380;
$fond-yellow: #FEBE10;

body {
  margin-top: 50px;

  background: $fond-blue;
  color: $fond-yellow;

  a {
    color: $fond-yellow;
    text-decoration: none;
    &:hover {
      color: $fond-yellow;
      font-weight: bold;
      text-decoration: none;
    }
    &:visited {
      color: $fond-yellow;
    }
  }
}

#anyguess {
  height: 300px;
  width: 350px;
  position: relative;

  .text {
    font-family: 'Chicle', cursive;
    -webkit-text-stroke: 1px black;
    color: $fond-yellow;
    text-shadow:
            3px 3px 0 #000,
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
  }

  .top, .bottom {
    height: 150px;
    width: 200px;
    margin: 6px;
    float: left;
  }
  .top {
    position: absolute;
    font-size: 120px;
    top: 60px;
    left: 0;
  }
  .bottom {
    position: absolute;
    font-size: 80px;
    bottom: 0;
    left: 0;
  }
  .right {
    position: absolute;
    top: 95px;
    right: -20px;
    height: 300px;
    width: 200px;
    font-size: 250px;
    float: right;
  }

}

#login {
  background: $fond-blue;
  color: $fond-yellow;
}
