<!DOCTYPE html>
<html>
<head>
  <title>Anyguess</title>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Chicle" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <%= stylesheet_link_tag 'play', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>

<body>
<%= yield %>
</body>
</html>
